extends _layout/layout.pug
block mainabc
	h2 Trang liên hệ
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime cum voluptatibus ullam ipsum ut mollitia velit nisi tempora, a, culpa rerum asperiores accusantium dignissimos voluptatem officia animi reiciendis quibusdam odit?