extends _layout/layout.pug
block mainabc
	h2.title Trang chủ
	ul.menu
		li hmgjhg hjg jhgjh gg
		li hmgjhg hjg jhgjh gg
		li hmgjhg hjg jhgjh gg
	ul.hehe
		li hmgjhg hjg jhgjh gg
		li hmgjhg hjg jhgjh gg
		li hmgjhg hjg jhgjh gg